a[target]{
    background-color: green;
    color: white;
}
a[target="_top"]{
    background-color: red;
}
[class~="anh"]
{
    border: solid 1px red;
}
[class|="top"] {
  background: yellow;
}
[class^="hello"]
{
    background-color: yellow;
}
[class$="test"]{
    background-color: yellow;
}
[class*="te"]
{
    background-color: yellow;
}
input[type="text"]{
    background-color: pink;
    padding: 10px;
    margin-bottom: 10px;
    width: 150px;
}
input[type="button"]{
    width: 100px;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    background-color: greenyellow;
}