.so1 p{
    background-color: yellow;
    width: 200px; 
    padding: 5px;
    text-align: center;
}
.so2 + .so3{
    background-color: yellow;
    width: 200px; 
    padding: 5px;
    text-align: center;
}
.so4 ~ .so5{
   background-color: yellow;
    width: 200px; 
    padding: 5px;
    text-align: center; 
}