table, th, td{
    border: solid 1px black;
    border-collapse: collapse;
}
table{
    width: 100%;
}
#panel ,.click{
    text-align: center;
    color: white;
    background-color: green;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid green;
    cursor:pointer;
}
#panel{
    display: none;
    cursor: auto;
}
.khanh{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.i{
    display: inline;
}
span.he{
    display: block;
    background-color: #f1f1f1;
    text-shadow: 2px 2px 5px red;
    color: white;
}
.y{
    display: block;
    background-color: #d1d1f1;
}
p.ex1 {
    background-color: blue;
    padding: 10px;
    display: none;}
p.ex2 {
    background-color: blue;
    padding: 10px;
    display: inline;}
p.ex3 {
    background-color: blue;
    padding: 10px;
    display: block;}
p.ex4 {
    background-color: blue;
    padding: 10px;
    display: inline-block;}
p.ex5 {
    background-color: blue;
    padding: 10px;
    display: flex;}
p.ex6 {
    background-color: blue;
    padding: 10px;
    display: grid;}
span{
    text-align: center;
    color: white;
    background-color: red;
    padding: 10px;
}