.mau1{
    background-color: rgba(225, 0, 0,0.2);
}
.mau2{
    background-color: rgba(225, 0, 0,0.4);
}
.mau3{
    background-color: rgba(225, 0, 0,0.6);
}
.mau4{
    background-color: rgba(225, 0, 0,0.8);
}
#mau1{
    background-color: hsla(0, 100%, 30%, 0.3);
}
#mau2{
    background-color: hsla(0, 100%, 50%, 0.3);
}
#mau3{
    background-color: hsla(0, 100%, 70%, 0.3);
}
#mau4{
    background-color: hsla(0, 100%, 90%, 0.3);
}
.trong1{
    background-color: rgb(225,0,0);
    opacity: 0.2;
}
.trong2{
    background-color: rgb(225,0,0);
    opacity: 0.4;
}
.trong3{
    background-color: rgb(225,0,0);
    opacity: 0.6;
}
.trong4{
    background-color: rgb(225,0,0);
    opacity: 0.8;
}
.vidu1{
    width: 50%; 
    height: 150px;
    background-color: lightgray;
}
.vidu1 > h4{
    padding: 10px;
    text-align: center;
    background-color: lightgreen;
}
.vidu1 > p{
    background-color: transparent;
    text-align: center;
    border: 2px solid red;
    padding: 10px;
}
.vidu2{
    width: 50%;
    height: 150px;
    background-color: lightcyan;
    color: blue;
    border: 10px solid currentcolor;
}
.vidu2 > h4{
    padding: 10px;
    text-align: center;
    margin: 10px;
    border:5px solid currentcolor;
    box-shadow: 0px 0px 15px currentcolor;
}
.vidu2 > p{
    padding: 10px;
    text-align: center;
    margin: 10px;
    border:5px solid currentcolor;
    box-shadow: 5px 5px 15px currentcolor; 
}
.vidu3{
    width: 50%;
    height: 150px;
    border: 5px solid green;
    box-shadow: 0px 0px 20px yellow;
}
.vidu3 > h4{
    text-align: center;
    border: inherit;
    padding: 10px;
    margin: 10px;
    box-shadow: inherit;
}
.vidu3 > p{
    text-align: center;
    padding: 10px; 
    margin: 10px;
    border: inherit;
    box-shadow: inherit;
}
.chuyen1{
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient(to bottom, red, yellow)
}
.chuyen2{
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient(to top, red, yellow)
}
.chuyen3{
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient(to right, red, yellow)
}
.chuyen4{
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient(to  bottom left, red, yellow)
}
.do1{
    text-align: center;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient( 0deg , red, yellow)
}
.do2{
    text-align: center;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient( 90deg , red, yellow)
}
.do3{
    text-align: center;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient( 180deg , red, yellow)
}
.do4{
    text-align: center;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient( 270deg , red, yellow)
}
.tuyentinh1{
    text-align: center;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient(red, yellow, blue);
}
.tuyentinh2{
    text-align: center;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient(red, yellow, blue, black, green, orange, violet);
}
.tuyentinh3{
    text-align: center;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient(red 30%, yellow 40%, blue 70%);
}
.tuyentinh4{
    text-align: center;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: red;
    background-image: linear-gradient(to right, red, yellow, blue, black, green, orange, violet);
}
.tuyentinh5{
    text-align: center;
    width: 80%;
    height: 100px;
    margin: auto;
    background-image: linear-gradient(to right, rgba(225,0,0,0.2), rgba(225,0,0,1));
}
.tuyentinh6{
    text-align: center;
    width: 80%;
    height: 200px;
    margin: auto;
    background-image: repeating-linear-gradient(red, yellow 10%, blue 20%);
}
.tam1{
    width: 50%;
    height: 100px;
    text-align: center;
    margin: auto;
    background-image: radial-gradient(red, green, yellow);
}
.tam2{
    width: 50%;
    height: 100px;
    text-align: center;
    margin: auto;
    background-image: radial-gradient(red 10%, green 20%, yellow 40%);
}
.tam3{
    width: 50%;
    height: 100px;
    text-align: center;
    margin: auto;
    background-image: radial-gradient(circle, red, green, yellow);
}
.tam4{
    width: 50%;
    height: 100px;
    text-align: center;
    margin: auto;
    background-image: radial-gradient(   red, green, yellow);
}
.goc1{
    width: 50%;
    height: 100px;
    margin: auto;
    background-image: radial-gradient( closest-side at 70% 60%, red, green, black);
}
.goc2{
    width: 50%;
    height: 100px;
    margin: auto;
    background-image: radial-gradient( farthest-side at 70% 60%, red, green, black);
}
.goc3{
    width: 50%;
    height: 100px;
    margin: auto;
    background-image: radial-gradient( closest-corner at 70% 60%,  red, green, black);
}
.goc4{
    width: 50%;
    height: 100px;
    margin: auto;
    background-image: radial-gradient( farthest-corner at 70% 60%, red, green, yellow);
}
.goc5{
    width: 50%;
    height: 100px;
    margin: auto;
    background-image: repeating-radial-gradient(red 10%, blue 20%, yellow 30%);
}
.non1{
    width: 200px;
    height: 200px;
    margin: auto;
    background-image: conic-gradient(red, green, yellow);
}
.non2{
    width: 200px;
    height: 200px;
    margin: auto;
    background-image: conic-gradient(red, green, yellow, blue, violet);
}
.non3{
    width: 200px;
    height: 200px;
    margin: auto;
    background-image: conic-gradient( yellow 45deg, blue 30deg, violet 90deg);
}
.non4{
    width: 200px;
    height: 200px;
    margin: auto;
    background-image: conic-gradient(red, green, yellow);
    border-radius: 50%;
}
.non5{
    width: 200px;
    height: 200px;
    margin: auto;
    background-image: conic-gradient(red 0deg, red 90deg, yellow 90deg, yellow 180deg, blue 180deg, blue 270deg, green 270deg, green 360deg);
    border-radius: 50%;
}
.non6{
    width: 200px;
    height: 200px;
    margin: auto;
    background-image: conic-gradient(at 60% 45%, red, green, yellow);
    border-radius: 50%;
}
.non7{
    width: 200px;
    height: 200px;
    margin: auto;
    background-image: repeating-conic-gradient(red 10%, green 20%, blue 30%);
    border-radius: 50%;
}
.non8{
    width: 200px; 
    height: 200px;
    margin: auto;
    background-image: repeating-conic-gradient(red 0deg, red 10deg, yellow 10deg, yellow 20deg, green 20deg, green 30deg);
    border-radius: 50%;
}