p{
    background-color: powderblue;
    width: 250px;
    height: 50px;
}
.div1 {
  max-width: 500px;
  padding:10px;
  background-color: powderblue;
}

.div2 {
  width: 500px;
  padding:10px;
  background-color: powderblue;
}
