div{
    ul{
        list-style-type: none;
        margin: 0; /*Xóa hết khoảng cách bên ngoài của phần tử.
                    Ví dụ: thẻ <body> mặc định có margin, khi đặt 
                    margin: 0; thì trang sẽ “sát lề” trình duyệt.*/
        padding: 0; /*Xóa hết khoảng cách bên trong (giữa nội dung và viền phần tử).
                    Ví dụ: nếu phần tử có text bên trong thì text sẽ
                     dính sát vào viền.*/
        overflow: hidden; /*Quy định cách xử lý nội dung vượt quá kích thước phần tử.
                            hidden nghĩa là ẩn đi phần vượt ra ngoài.
                            Ví dụ: nếu một div có chiều cao 100px mà bên 
                            trong chứa hình cao 200px → phần dư 100px sẽ bị 
                            cắt và không thấy được.*/
        background-color: #333333;
    }
    li{
        float: left;
    }
    li a{
        display: block; /*Biến phần tử thành khối (block) → chiếm toàn bộ chiều ngang của container.
                        Thường dùng cho thẻ <a> (link), mặc định là inline, sau khi set block thì 
                        nó giống như một ô “nút bấm” chiếm nguyên hàng.*/
        color: red;
        text-align: center;
        padding: 16px;
        text-decoration: none; /*Xóa gạch chân mặc định của thẻ <a>.
                                Giúp link trông giống như nút thay vì chữ gạch dưới.*/
    }
    li a:hover{
        background-color: aliceblue;
    }

}