body1{
table{
    font-family: 'Times New Roman', Times, serif;/* chữ trong bảng dùng font Arial, nếu không có thì dùng sans-serif */
    border-collapse: collapse;     /* gộp các đường viền lại (tránh bị viền đôi) */
    width: 100%;                   /* bảng chiếm toàn bộ chiều ngang */
}
td{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even){
    background-color: #dddddd;
}
th{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}
}
body2{
    table{
        font-family: Arial, Helvetica, sans-serif;
        width:100%;
    }
    th{
        text-align: center;
        border: 10px solid #ddddff;
        padding: 10px;
        border-collapse:collapse;
        border-style: solid;
    }
    td{
        text-align: left;
        border: 1px solid #ffddff;
        padding: 10px;
        border-radius: 10px;
    }
    tr:nth-child(odd)
    {
        background-color: aquamarine;
    }
}
body3{
table{
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;                     
}
td{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even){
    background-color: #dddddd;
}
th{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}
}
body4{
    table{
        font-family: 'Times New Roman', Times, serif;
        border-collapse: collapse;
        border: 1px solid black;
    }
    th{
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    td{
        border: 1px solid black;
        padding: 8px;
        text-align:left;
    }
    th:nth-child(even),td:nth-child(odd){
    background-color: rgba(155, 334, 111, 0.5);
    }
}
body5{
    table{
        font-family: 'Times New Roman', Times, serif;
        border-collapse: collapse;
        border: 1px solid black;
    }
    th{
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
    td{
        border: 1px solid black;
        padding: 8px;
        text-align:left;
    }
    tr:hover{
        border-bottom: 10px solid #dddddd;
        background-color: aqua;
    }
    
}

